MyTelerikRestService/bin/EntityFramework.dll
MyTelerikRestService/bin/EntityFramework.SqlServer.dll
MyTelerikRestService/bin/EntityFramework.SqlServer.xml
MyTelerikRestService/bin/EntityFramework.xml
MyTelerikRestService/obj/Debug/edmxResourcesToEmbed/SmartCampusDataModel.csdl
MyTelerikRestService/obj/Debug/edmxResourcesToEmbed/SmartCampusDataModel.msl
MyTelerikRestService/obj/Debug/edmxResourcesToEmbed/SmartCampusDataModel.ssdl
MyTelerikRestService/obj/Debug/TempPE/SmartCampusDataModel.Context.cs.dll
MyTelerikRestService/obj/Debug/TempPE/SmartCampusDataModel.cs.dll
MyTelerikRestService/obj/Debug/TempPE/SmartCampusDataModel.Designer.cs.dll
MyTelerikRestService/Uploads/file.pdf
packages/EntityFramework.6.2.0/EntityFramework.6.2.0.nupkg
packages/EntityFramework.6.2.0/Content/net40/App.config.transform
packages/EntityFramework.6.2.0/Content/net40/Web.config.transform
packages/EntityFramework.6.2.0/lib/net40/EntityFramework.dll
packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.dll
packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.2.0/lib/net40/EntityFramework.xml
packages/EntityFramework.6.2.0/lib/net45/EntityFramework.dll
packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.dll
packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.2.0/lib/net45/EntityFramework.xml
packages/EntityFramework.6.2.0/tools/about_EntityFramework.help.txt
packages/EntityFramework.6.2.0/tools/EntityFramework.PowerShell.dll
packages/EntityFramework.6.2.0/tools/EntityFramework.PowerShell.Utility.dll
packages/EntityFramework.6.2.0/tools/EntityFramework.psd1
packages/EntityFramework.6.2.0/tools/EntityFramework.psm1
packages/EntityFramework.6.2.0/tools/init.ps1
packages/EntityFramework.6.2.0/tools/install.ps1
packages/EntityFramework.6.2.0/tools/migrate.exe
